.titulo {
    font-family: 'Pacifico';
    font-size: 60px;
    padding: 0;
    margin: 0;
    color: #D3B72A;
    text-shadow: 4px 4px #9999;
}
.subtitulo{
    font-family: 'Poppins';
    color: black;
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

.card-group {
    margin-top: 30px;
}
