
.titulo{
    font-family: 'Pacifico';
    font-size: 80px;
    padding: 20px;
    margin: 20px;
    color: #D3B72A;
    text-shadow: 4px 4px #9999;
}
.subtitulo{
    font-family: 'Poppins';
    color: black;
    font-size: 20px;
    text-align: center;
    margin: 10px;
}
