@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.card{
    /* width: 18rem; */
    height: auto;
    padding: 0px 0px 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.favouriteButton{
    background-color: #D3B72A;
    color:black;
    border-color: #D3B72A;
    font-family: 'Poppins';
    font-weight: 500;
}

.card-title{
    font-family: 'Pacifico';
    margin: 0px;
    font-size: 40px;
}
.card-text{
    font-family: 'Poppins';
    margin: 0px 3px 8px;
    font-size: 0.8 rem;
    
} 
.destacada{
    height: auto;
    padding: 0px 0px 15px;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 5px;
    border: solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: 
        linear-gradient(
            60deg,
            #b1e022,
            #ea4b0c
        );
    ;
}
h1.destacada{
    color: red;
}