
 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  
  
    body{
      background-color: #e5e5f7;
      opacity: 1;
      background-image:  linear-gradient(#D1A12A 1px, transparent 1px), 
  linear-gradient(to right, #D1A12A 1px, #e5e5f7 1px);
      background-size: 20px 20px;
      max-width: 100%;
      overflow-x: hidden
  }
  
  h2 {
    font-family: 'Poppins', sans-serif;
    }
  

  img {
    max-width: 100%;
    vertical-align: middle; }
  

  .wrapper {
    max-width: 1400px;
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; }
  

  #wizard {
    opacity: 1;
    position: relative;
    background: #fff;
    height: auto;
    width: 738px;
    padding: 30px 50px 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1); }
    #wizard.pt-86 {
      padding-top: 86px; }
  
 
  .form-header {
    display: flex;
    justify-content: center;
    padding-left: 26px; }
    
    .form-header .avartar {
      width: 60.75%; }
      .form-header .avartar a {
        display: block; }
    .form-header .form-group {
      width: 66.25%; }
  
  
  .form-holder {
    position: relative;
    padding-left: 26px;
    margin-bottom: 25px; }
    .form-holder:before {
      margin-top: 17px;
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0px;
      width: 10px;
      height: 10px;
      border: 2px solid #D3B72A;
      border-radius: 50%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .form-holder.active:before {
      background: #D3B72A; }
  
  .form-control {
    height: 46px;
    border: none;
    background: #f7f7f7;
    width: 100%;
    padding: 0 25px;
    border-radius: 23px;
    color: #333; }
  
  .submit-button {
    background-color: #D3B72A;
      color: black;
      border: #D3B72A;
  }
  
  .submit-button:hover {
    background-color: #f1d12f;
  }
  
  .forgot-link {
    color: #D3B72A;
    font-weight: bold;
    text-decoration: none;
  }
  
  .forgot-link:hover {
    text-decoration: none;
    color: #f1d12f;
  }
  
  @media (max-width: 767px) {
    body{
      background-color: #e5e5f7;
      opacity: 1;
      background-image:  linear-gradient(#D1A12A 1px, transparent 1px), 
  linear-gradient(to right, #D1A12A 1px, #e5e5f7 1px);
      background-size: 20px 20px;
  }
    .wrapper {
      height: auto;
      display: block; }
  
    #wizard {
      margin-top: 100px;
      width: auto;
      height: auto;
      padding: 30px 20px;
      border-radius: 0;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      -o-box-shadow: none; }
  

    .forgot-link {
      margin-right: 30px;
    }

    .form-header {
      display: block; }
      .form-header .avartar {
        width: 100%;
        text-align: center;
        margin-bottom: 25px; }
      .form-header .form-group {
        width: 100%; } }
  
  
        @media (max-width: 540px) {
          .forgot-link {
            margin-right: 20px;
          }
        }