
.register-title {
  font-size: 40px;
}
    img {
      max-width: 100%;
      height: auto;
    }
  
    .title{
      font-family: 'Pacifico';
      font-size: 80px;
      padding:0px 10px 00px 10px;
      margin-top: 20px;
      color: #D3B72A;
      text-shadow: 4px 4px #9999;
    }
  
  .text-center h2 {
    font-family: 'Poppins', sans-serif;
    }
  

  img {
    max-width: 100%;
    vertical-align: middle; }
  

  @media (max-width: 767px) {
    body{
      background-color: #e5e5f7;
      opacity: 1;
      background-image:  linear-gradient(#D1A12A 1px, transparent 1px), 
  linear-gradient(to right, #D1A12A 1px, #e5e5f7 1px);
      background-size: 20px 20px;
  }
    .wrapper {
      height: auto;
      display: block; }
  
    #wizard {
      margin-top: 100px;
      width: auto;
      height: auto;
      padding: 30px 20px;
      border-radius: 0;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      -o-box-shadow: none; }
  

    .forgot-link {
      margin-right: 30px;
    }

    .form-header {
      display: block; }
      .form-header .avartar {
        width: 100%;
        text-align: center;
        margin-bottom: 25px; }
      .form-header .form-group {
        width: 100%; } }
  
  
        @media (max-width: 540px) {
          .forgot-link {
            margin-right: 20px;
          }
        }