/* html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.profileContainer {
  margin: 20px;
  }


.profilePic {
  width: 60%;
  padding: 10px;
}
 */
 

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }


  body{
    background-color: #e5e5f7;
    opacity: 1;
    background-image:  linear-gradient(#D1A12A 1px, transparent 1px), 
linear-gradient(to right, #D1A12A 1px, #e5e5f7 1px);
    background-size: 20px 20px;
}

:focus {
  outline: none; }

textarea {
  resize: none; }

input, textarea, select, button {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: #333; }

p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0; }

h1 {
  font-family: 'Pacifico', cursive;
  }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  text-decoration: none; }

textarea {
  resize: none; }

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  border: none; }
  select option[value=""][disabled] {
    display: none; }

img {
  max-width: 100%;
  vertical-align: middle; }



.wrapper {
  max-width: 1400px;
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.steps .current-info, .wizard > .steps .number {
  display: none; }

#wizard {
  opacity: 1;
  position: relative;
  background: #fff;
  height: auto;
  width: 738px;
  padding: 30px 50px 30px;
  border-radius: 10px;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1); }
  #wizard.pt-86 {
    padding-top: 86px; }

/* .steps {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50px; }
  .steps ul {
    display: flex; }
    .steps ul li a {
      display: inline-block;
      width: 10px;
      height: 10px;
      background: #ffffff;
      border-radius: 50%;
      margin-right: 8px; }
    .steps ul li.current a {
      width: 22px;
      transition: all 0.5s ease;
      border-radius: 5.5px; }
 */

.avartar-picker {
  margin-top: 20px; }
  .avartar-picker .inputfile {
    display: none; }
  .avartar-picker label {
    display: block;
    cursor: pointer;
    display: inline-block;
    color: #333;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 800; }
    .avartar-picker label:hover {
      color: #666; }
    .avartar-picker label i {
      margin-right: 3px; }

.form-header {
  display: flex;
  justify-content: center; }
  
  .form-header .avartar {
    width: 33.75%; }
    .form-header .avartar a {
      display: block; }
  .form-header .form-group {
    width: 66.25%; }

.form-row {
  display: flex; }
  .form-row .form-holder {
    width: 50%;
    margin-right: 31px; }
    .form-row .form-holder:last-child {
      margin-right: 0; }

.form-holder {
  position: relative;
  padding-left: 26px;
  margin-bottom: 25px; }
  .form-holder:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    width: 10px;
    height: 10px;
    border: 2px solid #D3B72A;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .form-holder.active:before {
    background: #D3B72A; }

.form-control {
  height: 46px;
  border: none;
  background: #f7f7f7;
  width: 100%;
  padding: 0 25px;
  border-radius: 23px;
  color: #333; }
  .form-control::-webkit-input-placeholder {
    color: #808080;
    text-transform: uppercase; }
  .form-control::-moz-placeholder {
    color: #808080;
    text-transform: uppercase; }
  .form-control::-ms-input-placeholder {
    color: #808080;
    text-transform: uppercase; }
  .form-control::-moz-placeholder {
    color: #808080;
    text-transform: uppercase; }

.submit-button {
  background-color: #D3B72A;
    color: black;
    border: #D3B72A;
}

.submit-button:hover {
  background-color: #f1d12f;
}

.forgot-link {
  color: #D3B72A;
  font-weight: bold;
  text-decoration: none;
}

.forgot-link:hover {
  text-decoration: none;
  color: #f1d12f;
}

@media (max-width: 767px) {
  body {
    background: none; }

  .wrapper {
    height: auto;
    display: block; }

  #wizard {
    width: auto;
    height: auto;
    padding: 30px 20px;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none; }

  .form-header {
    display: block; }
    .form-header .avartar {
      width: 100%;
      text-align: center;
      margin-bottom: 25px; }
    .form-header .form-group {
      width: 100%; }

  .grid .row {
    display: block; }

  .grid-item {
    width: 100%; }

  .form-row {
    display: block; }
    .form-row .form-holder {
      width: 100%;
      margin-right: 0; }

  .actions ul {
    flex-direction: column;
    align-items: flex-end; }

  .steps {
    display: none; } }


