.footer__top{
    width:100%;
    background-color:#999999;
    padding: 40px 5%;
}
.footer__top .footer_inner{
    color: #fff;
    text-align: center;
}
.footer__top .footer_inner p{
    margin-top: 20px;
}
.footer__top .footer_inner .social__icons{
  display: flex;
  justify-content: center;
}
.footer__top .footer_inner .social__icons a{
    margin: 10px 20px;
}
.footer__top .footer_inner .social__icons a img{
    width: 60px;
    height: 60px;
}
.icono{
    color: white;
}
p.derechos{
    margin-left: 10px;
    font-family: 'Pacifico';
    font-size: 20px;
}