.header__top {
  padding: 15px 5%;
  background-color: #fff;
}

.header__top .header_inner .left {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

.header__top .header_inner .left .iconMenu {
  width: 30px;
  cursor: pointer;
}

.header__top .header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top .header_inner .right {
  display: flex;
  align-items: center;
}

.header__top .header_inner .right button {
  padding: 0px 30px;
  margin-left: 10px;
  cursor: pointer;
  border: 1px solid black;
  font-weight: 500;
  border-radius: 20px;
  background-color: white;
}

@media (max-width: 576px) {
  .header__top .header_inner .right button {
    padding: 0px 10px;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Cart__top img {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 768px) {
  .header__top .header_inner .right button {
    padding: 0px 12px;
  }
}

@media (min-width: 992px) {
  .header__top .header_inner .right button {
    padding: 0px 18px;
  }
}

@media (min-width: 1200px) {
  .header__top .header_inner .right button {
    padding: 0px 20px;
  }
}

@media (min-width: 1400px) {
  .header__top .header_inner .right button {
    padding: 0px 30px;
  }
}