.header__top {
  margin:0px;
  padding: 0px 15px;
  background-color: #D3B72A;
}
.header_inner{
  margin: 0;
}

.header__top .header_inner .left {
  display: flex;
  align-items: flex-start;
}

.header__top .header_inner .left .iconMenu {
  cursor: pointer;
  margin-right: 60px;
  align-self: flex-start;
}

.header__top .header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top .header_inner .right {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__top .header_inner .right button {
  margin-left: 10px;
  cursor: pointer;
  border-radius: 20px; 
  align-self: flex-end;
  padding: 10px;
  background-color: #D3B72A;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  justify-content: space-between;
  font-family: 'Poppins' !important;
  font-weight: bold;
  border: 3px solid black;
}